
<%= render "shared/header" %>

<h1>トップ画面</h1>
<p>learning</p>

<%# 教材登録 %>
<ul>
  <li>
    <%= link_to new_textbook_path do %>
      <div>
        <div>画像</div>
        <div>名前</div>
      </div>
    <% end %>
  </li>
</ul>
