.textbook-title {
  padding: 20px 180px;
  background-color: lightgray;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.row {
  padding: 30px 150px;
  border-top: 10px double rgb(131, 131, 133) ;
}

.col {
  width: 25%;
}

.form-group {
  margin-bottom: 20px;
}

.card {
  height: 500px;
}

.card-image {
  height: 380px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-body {
  height: 120px;
}

.card-text {
  height: 30px;
  font-size: 20px;
}

.card-btn {
  height: 60px;
}

.book_img {
  height: auto;
  width: 80%;
  max-height: 380px;
}

.created-at {
  display: block;
}