.graph_content {
  margin-bottom:100px;
}

.datetime_content {
  display: flex;
  justify-content: space-between;
}

.date_content {
  font-size: 20px;
}

.time_content {
  font-size: 20px;
}

.left-style {
  display: flex;
  justify-content: left;
}

.left-style-unit {
  margin-right: 20px;
}