.graph_content {
  margin-bottom:100px;
}

.datetime_content {
  display: flex;
  justify-content: space-between;
}

.date_content {
  font-size: 20px;
}

.time_content {
  font-size: 20px;
}

.left-style {
  display: flex;
  justify-content: left;
}

.left-style-unit {
  margin-right: 20px;
}

ul {
  list-style: none;
}

.today-contents, .week-contents {
  font-size: 20px;
  width: 500px;
}

.today-content, .week-content {
  display: flex;
}

.today-title, .week-title {
  width: 200px;
}

.today-text, .week-text {
  width: 300px;
}

.trash_button {
  display: flex;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.125);
  
}

.trash_button_action:hover {
  background-color: lightgrey;
  color: red;
}